<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="component/head :: copy"></head>

<body>
<div th:replace="component/lang-bar :: copy"></div>
<div id="wrapper">
	<!--     <div id="wrapper"> -->
	<div th:replace="component/side-bar :: #sidebar-wrapper"></div>

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<table class="table table-hover">
					<thead>
					<tr>
						<th th:text="#{show-all.reference.table.firstname}">firstname</th>
						<th th:text="#{show-all.reference.table.lastname}">lastname</th>
						<th th:text="#{show-all.reference.table.username}">username</th>
						<th th:text="#{show-all.reference.table.password}">password</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="reference : ${references}">
							<td th:text="${reference.firstName}">firstname</td>
							<td th:text="${reference.lastName}">lastname</td>
							<td th:text="${reference.userName}">username</td>
							<td th:text="${reference.password}">password</td>
						</tr>
					</tbody>
				</table>
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<div th:replace="component/script-block :: #scripts-template"></div>
</body>
</html>
